@-webkit-keyframes bob {
    0% { transform: translateY(0); }
    100% { transform: translateY(-3rem); }
}
@keyframes bob {
    0% { transform: translateY(0); }
    100% { transform: translateY(-3rem); }
}
/**
 * Enable smooth scrolling on the whole document
 */
html {
  scroll-behavior: smooth;
}
/**
 * Disable smooth scrolling when users have prefers-reduced-motion enabled
 */
@media screen and (prefers-reduced-motion: reduce) {
   html {
     scroll-behavior: auto;
   }
}
body {
  margin: 0;
  padding: 0;
  font-family: adobe-caslon-pro, serif;
  font-weight: 800;
  font-style: normal;
  background: black;
  text-transform: lowercase;
  word-wrap: break-word;
}
h1, h2, h3 {
  margin: 0;
  padding: 0;
  cursor: default;
  line-height: 0.8;
}
header {
  border-top: 4rem ridge #1EA896;
  border-bottom: 4rem ridge #1EA896;
  margin-bottom: 2rem;
  padding-top: 4rem;
  text-align: center;
  color: white;
}
nav {
  display: block;
  margin: 0 auto;
  text-align: center;
}
nav ul {
  list-style-type: none;
  margin: 0 auto;
}
nav ul > li {
  display: inline-block;
  margin-right: 4rem;
}
a {
  position: relative;
  text-decoration: underline;
  color: white;
}
a:hover {
  text-decoration: underline;
  text-decoration-color: #1EA896;
}
a:focus::after {
  content: "";
  position: absolute;
  top: calc(-0.25rem);
  right: calc(-0.25rem);
  bottom: calc(-0.25rem);
  left: calc(-0.25rem);
  border-radius: 3px;
  border: 2px dotted white;
  margin: 0px;
}
h1#title {
  font-size: clamp(6rem, 20vw, 10rem);
}
h1 {
  font-size: 6rem;
}
h2 {
  font-size: 4rem;
  font-size: clamp(2rem, 10vw, 4rem);
  padding: 1rem 0 1rem 0;
}
h3 {
  font-size: 2rem;
}

.animated {
  -webkit-animation: bob 10s infinite  alternate;
  animation: bob 10s infinite  alternate;
}

.skip-link {
  text-align: center;
  margin-bottom: 4rem;
}


/* Layout */
.content {
  padding-top: 5rem;
  transform: skewY(10deg);
  min-height: 100ch;
}
main {
  max-width: 80rem;
  margin: 0 auto;
}
.top {
  margin: 0 auto;
  max-width: 60rem/* 60ch */;
}
.thoughts {
  border-color: #FF715B;
}
.thought {
  /* margin-bottom: 2rem; */
  min-width: 6rem;
}
.flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
section {
  border: 2rem ridge #1EA896;
  padding: 2rem;
  background: #1d1e23;
  color: white;
  font-size: 1.5rem;
  max-width: 30rem;
  width: 100%;
  margin: 2rem auto;
}