@-webkit-keyframes bob {
    0% { transform: translateY(1.5rem); }
    100% { transform: translateY(-1.5rem); }
}
@keyframes bob {
    0% { transform: translateY(1.5rem); }
    100% { transform: translateY(-1.5rem); }
}
/**
 * Enable smooth scrolling on the whole document
 */
html {
  scroll-behavior: smooth;
}

body {
  background: white;
  margin: 0;
  padding: 0;
  font-family: adobe-caslon-pro, serif;
  font-display: swap;
  font-style: normal;
  text-transform: lowercase;
  word-wrap: break-word;
}
h1, h2, h3 {
  margin: 0;
  padding: 0;
  cursor: default;
  line-height: 0.8;
  font-weight: 800;
  letter-spacing: 2px;
}
header {
  background: white;
  border-top: 4rem ridge #1EA896;
  border-bottom: 4rem ridge #1EA896;
  margin-bottom: 4rem;
  padding-top: 4rem;
  text-align: center;
  color: black;
  transform: skewY(10deg);
  box-shadow: 1rem 1rem #888888;
}
nav {
  display: block;
  margin: 0 auto;
  text-align: center;
}
nav ul {
  list-style-type: none;
  margin: 0 auto;
}
nav ul > li {
  display: inline-block;
  margin-right: 4rem;
}
a {
  position: relative;
  text-decoration: underline;
  color: black;
  text-decoration-color: #1EA896;
}
a:hover {
  text-decoration: underline;
  text-decoration-color: black;
}
a:focus::after {
  content: "";
  position: absolute;
  top: calc(-0.25rem);
  right: calc(-0.25rem);
  bottom: calc(-0.25rem);
  left: calc(-0.25rem);
  border-radius: 3px;
  border: 2px dotted black;
  margin: 0px;
}
h1#title {
  font-size: clamp(6rem, 20vw, 10rem);
}
h1 {
  font-size: 6rem;
}
h2 {
  font-size: 4rem;
  font-size: clamp(2rem, 10vw, 4rem);
  padding: 1rem 0 1rem 0;
}
h3 {
  font-size: 2rem;
}

.animated {
  -webkit-animation: bob 10s infinite  alternate;
  animation: bob 10s infinite  alternate;
}

/**
 * Disable smooth scrolling when users have prefers-reduced-motion enabled
 * Disable title animation also.
 */
 @media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
  .animated {
    -webkit-animation: none;
    animation: none;
  }
}

.skip-link {
  text-align: center;
  margin-bottom: 4rem;
}


/* Layout */
.content {
  background: #f2eecb;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5rem;
  min-height: 100ch;
}
main {
  max-width: 80rem;
  margin: 0 auto;
  padding: 1rem;
}
.top {
  margin: 0 auto;
}
.readme {
  border-color: #715BFF;
}
.thoughts {
  border-color: #5BFF71;
}
.thought {
  /* margin-bottom: 2rem; */
  min-width: 6rem;
}
.flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
section {
  border: 2rem ridge #1EA896;
  padding: 2rem;
  background: white;
  color: black;
  font-size: 1.5rem;
  max-width: 30rem;
  width: 100%;
  margin: 2rem auto;
  box-shadow: 1rem 1rem #888888;
}
section h2 {
  border-bottom: .5rem black dashed;
}
