{{ partial "header.html" . }}

<body>
    <div class="skip-link"><a href="#main">Skip to content</a></div>
    <header>
        <a class="logo" href="/">
            <h1 aria-label="{{ .Site.Title }}">ollie<span class="text-gradient">thinks</span></h1>
        </a>
        <nav>
            <span>[</span>
            <ul class="links">
                <li>
                    <a href="/">back</a>
                </li>
            </ul>
            <span>]</span>
        </nav>
    </header>
    <main id="main" class="flex">
        <section class="post">
            <h2>{{.Title}}</h2>
            {{.Content}}
        </section>
    </main>
</body>

</html>